.card {
  padding: 20px;
  height: 350px;
  border: 1px solid rgb(175, 168, 168);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s;

  &:hover {
    cursor: pointer;
    box-shadow: 0 5px 5px green;
    transition: all 0.3s;
  }

  &__title {
    margin-top: 10px;
    text-align: center;
    font-family:'Roboto Regular', Helvetica, sans-serif;
    color: rgb(72, 71, 71);
  }

  &__container_img {
    text-align: center;
  }

  &__items {
    padding: 0;
    list-style-type: none;
    text-align: center;
  }

  &__item_description {
    font-family: 'Roboto Regular', sans-serif;
  }
}

@media screen and (max-width: 1280px) {

  .card__title {
    font-size: 1.3em;
  }

}