.main-home {
  min-height: calc(100vh - 190px);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  font-family: 'Roboto Regular', sans-serif;
  width: 50%;
  border-radius: 10px;
  height: 40px;
  margin-bottom: 10px;
  border: 2px solid rgb(175, 168, 168);
  overflow: hidden;

  &__magnifier {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  &__input {
    color: rgb(72, 71, 71);
    width: calc(100% - 40px);
    height: 100%;
    font-size: 1.2em;
    border: none;
    outline: none;

    &::placeholder {
      color: rgb(72, 71, 71);
      opacity: 0.3;
      transition: color 0.3s ease-out;
    }

    &:focus::placeholder {
      color: #3dd5c5;
      transition: color 0.3s ease-in;
    }
  }
}

.cards {
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 30px;
}

.modal {

  &-window {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
  }

  &-mask {
    width: 100%;
    height: 100%;
    background-color: #7f7f7f;
    opacity: 0.9;
  }

  &-content {
    width: 70%;
    height: 70%;
    font-family: "Roboto Regular", sans-serif;
    padding: 10px 40px;
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #282a35;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;


    &__image-frame {
      width: 40%;
      height: 90%;
      border-radius: 10px;
      overflow: hidden;

      & > img {
        object-fit: fill;
        width: 100%;
        height: 100%;
      }
    }

    &__data {
      width: calc(60% - 40px);
    }

    & > button {
      width: 40px;
      height: 40px;
      margin-top: 20px;
      align-self: flex-start;
      border-width: 1px;
      border-radius: 50%;
      font-size: 1.5rem;
      background-color: white;
      user-select: none;

      &:hover {
        cursor: pointer;
        background-color: #3dd5c5;
        color: white;
        transition: all 0.1s ease-in;
        box-shadow: 0 0 20px 3px #3dd5c5;
      }
    }
  }
}