.main-form {
  display: flex;
  flex-direction: column;
  align-items:  center;
  padding: 30px;
}

.form {
  font-family: "Roboto Regular", sans-serif;
  width: 40%;
  height: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  margin-bottom: 30px;
  border: 2px solid rgb(175, 168, 168);
  border-radius: 10px;

  &__input_container {
    height: 35px;
    display: flex;
    flex-direction: column;
  }

  &__name {
    display: flex;
    justify-content: flex-start;

    &__input_container {
      width: 30%;
    }

    &__title {
      margin-right: 10px;
    }

    &__input {
      display: inline-block;
      width: 100%;
      outline: none;
      border: none;
      border-bottom: 1px solid black;

      &::placeholder {
        font-family: "Roboto Thin", sans-serif;
      }

      &:focus {
        border-color: #3dd5c5;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__error_text {
    color: red;
    font-size: 11px;
    font-style: oblique;
  }

  &__saved {
    color: limegreen;
    align-self: center;
  }
}

.user-cards {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}